<h1 class="text-2xl font-bold">{{ product().title }}</h1>
<div class="divider"></div>

<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
  <!-- Datos generales -->
  <div class="flex flex-col gap-2">
    <h2 class="text-2xl font-bold h-12">Datos generales</h2>
    <input type="text" placeholder="Título" class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('title')?.errors ?? false" formControlName="title" />
    <form-error-label [control]="productForm.get('title')!" />

    <input [class.border-red-500]="productForm.get('slug')?.errors ?? false" formControlName="slug" type="text"
      placeholder="Slug" class="input input-bordered w-full" />
    <form-error-label [control]="productForm.get('slug')!" />

    <textarea [class.border-red-500]="productForm.get('description')?.errors ?? false"
      class="textarea textarea-bordered" placeholder="Descripción" rows="6" formControlName="description"></textarea>
    <form-error-label [control]="productForm.get('description')!" />

    <h2 class="text-lg font-bold">Datos de venta</h2>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2">
      <div>
        <input type="number" placeholder="Precio" [class.border-red-500]="productForm.get('price')?.errors ?? false"
          class="input input-bordered w-full" formControlName="price" />
        <form-error-label [control]="productForm.get('price')!" />
      </div>
      <div>
        <input type="number" placeholder="Inventario" [class.border-red-500]="productForm.get('stock')?.errors ?? false"
          class="input input-bordered w-full" formControlName="stock" />
        <form-error-label [control]="productForm.get('stock')!" />
      </div>
    </div>

    <!-- tags -->
    <input formControlName="tags" type="text" placeholder="Tags" class="input input-bordered w-full"
      [class.border-red-500]="productForm.get('tags')?.errors ?? false" />
    <form-error-label [control]="productForm.get('tags')!" />

    <!-- Botones para el género -->
    <div class="grid grid-cols-4 gap-2">
      <button (click)="productForm.patchValue({gender: 'men'})" type="button" class="btn btn-sm"
        [class.btn-primary]="productForm.value.gender === `men`">Masculino</button>
      <button (click)="productForm.patchValue({gender: 'women'})" type="button" class="btn btn-sm"
        [class.btn-accent]="productForm.value.gender === `women`">Femenino</button>
      <button (click)="productForm.patchValue({gender: 'kid'})" type="button" class="btn btn-sm"
        [class.btn-warning]="productForm.value.gender === `kid`">Niños</button>
      <button (click)="productForm.patchValue({gender: 'unisex'})" type="button" class="btn btn-sm"
        [class.btn-secondary]="productForm.value.gender === `unisex`">Unisex</button>
    </div>

    <!-- Sizes -->
    <div class="grid grid-cols-6 gap-2">
      @for (size of sizes; track size) {
      <button (click)="onSizeClicked(size)" [class.btn-secondary]="productForm.value.sizes?.includes(size)"
        class="btn btn-sm btn-outline" type="button">{{ size }}</button>
      }
    </div>
  </div>

  <!-- Imágenes -->
  <div class="flex flex-col gap-2">
    <div class="flex justify-end h-12">
      <button class="btn btn-secondary" type="submit">
        <!-- <span class="loading loading-spinner loading-sm"></span> -->

        Guardar
      </button>
    </div>

    <product-carousel [images]="product().images" />

    <input type="file" class="file-input file-input-bordered w-full mt-4" />
  </div>
</form>